body{
    background-color: #1E1E2F;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    color: #eaeaea;
}

/* Navigační panel */
.nav {
    background-color: #2c2c3e;
    text-align: center;
    padding: 15px 0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
}

/* Tlačítka v navigaci */
.nav button {
    background-color: transparent;
    border: 2px solid;
    color: #eaeaea;
    padding: 10px 25px;
    margin: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 16px;
}

.nav button:hover {
    background-color: #7c5cff;
    color: white;
}

/* Obsah stránek */
.page {
    display: none;
    text-align: center;
    padding: 60px 1;
    min-height: 70vh;
    opacity: 0;
    transition: opacity 0.4 ease-in-out;
}

/* Aktivní stránka se zobrazí */
.page.active {
  display: block;
  opacity: 1;
}

/* Barvy pro jednotlivé sekce */
#home {
  background-color: #1E1E2F;
}

/* Textové styly */
h2 {
  color: #EAEAEA;
  font-size: 2.5em;
  margin-bottom: 10px;
}

p {
  color: #B8B8C9;
  font-size: 1.1em;
}

#fentanyl table {
    margin: 0 auto;
    border-collapse: collapse;
}

#fentanyl th,
#fentanyl td {
  text-align: center;
  padding: 20px 40px;
   border: 1px solid rgba(255,255,255,0.06);
}

#fentanyl th {
  font-weight: 600;
  font-size: 24px;
}


.page {
  display: none;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.page.active {
  display: block;
  opacity: 1;
}